api.kinocassa.ru {
    reverse_proxy 127.0.0.1:8080
}

staging.kinocassa.ru {
    root * /opt/snaphost/frontend/current
    encode zstd gzip
    try_files {path} /index.html
    file_server

    header {
        X-Content-Type-Options nosniff
        Referrer-Policy strict-origin-when-cross-origin
        X-Frame-Options DENY
    }
}
